#button1{
    min-width: 30px;
    min-height: 30px;
    border: 0px;
}
#button2{
    min-width: 30px;
    min-height: 30px;
    border: 0px;
}
#button3{
    min-width: 30px;
    min-height: 30px;
    border: 0px;
}
#button4{
    min-width: 30px;
    min-height: 30px;
    border: 0px;
}
#button5{
    min-width: 30px;
    min-height: 30px;
    border: 0px;
}
#button6{
    min-width: 30px;
    min-height: 30px;
    border: 0px;
}

#image-selector{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
}

#image-selector div{
    margin-right: 30px;
}

#img-selected{
    width: 80px;
    height: 80px;
    border: 0px;
    background: no-repeat;
    background-position: center;
    border-radius: 5px;
    background-size: 100% 100%;
}

#img-background{
    background-color: rgba(98, 71, 170, 0.25);
    border: 0px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

#img-background #button1{
    opacity: 1;
    margin-right: 20px;
    background-size: 100% 100%;
}
#img-background #button2{
    opacity: 1;
    margin-right: 20px;
    background-size: 100% 100%;
}
#img-background #button3{
    opacity: 1;
    margin-right: 20px;
    background-size: 100% 100%;
}
#img-background #button4{
    opacity: 1;
    margin-right: 20px;
    background-size: 100% 100%;
}
#img-background #button5{
    opacity: 1;
    margin-right: 20px;
    background-size: 100% 100%;
}
#img-background #button6{
    opacity: 1;
    margin-right: 20px;
    background-size: 100% 100%;
}

